Repository GeorgeLeePatterson/stately, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci, tests, benchmarks, examples, arrow, deserialize, serialize

fix: add singleton support to entity macro
  stately-derive/src/entity.rs
Labels: none

feat: introduces major refactor aimed at stability
  stately-derive/src/state.rs
  stately/examples/basic.rs
  stately/src/collection.rs
  stately/src/lib.rs
  stately/src/link.rs
  stately/src/traits.rs
  stately/tests/core.rs
Labels: tests, examples

fix: minor lint changes, housekeeping
  stately-derive/Cargo.toml
  stately-derive/src/axum_api.rs
  stately/Cargo.toml
  stately/src/collection.rs
  stately/src/entity.rs
  stately/src/lib.rs
  stately/tests/axum.rs
Labels: dependencies, tests

fix: adds foreign type handling
  .justfile
  stately-derive/src/state.rs
  stately/Cargo.toml
  stately/src/lib.rs
  stately/src/traits.rs
  stately/tests/core.rs
  stately/tests/foreign.rs
Labels: dependencies, tests

feat: finishes refactor of stately
  .gitattributes
  .justfile
  scripts/generate-demo.sh
  stately-derive/src/lib.rs
  stately/Cargo.toml
  stately/README.md
  stately/examples/doc_expand.rs
  stately/src/demo.rs
  stately/src/lib.rs
  stately/src/traits.rs
Labels: documentation, dependencies, examples

refactor: establish state macro identity across api boundaries, crud (#7)
  .gitattributes
  .justfile
  scripts/generate-demo.sh
  stately-derive/Cargo.toml
  stately-derive/src/axum_api.rs
  stately-derive/src/entity.rs
  stately-derive/src/lib.rs
  stately-derive/src/state.rs
  stately/Cargo.toml
  stately/README.md
  stately/examples/basic.rs
  stately/examples/doc_expand.rs
  stately/src/collection.rs
  stately/src/demo.rs
  stately/src/entity.rs
  stately/src/lib.rs
  stately/src/link.rs
  stately/src/traits.rs
  stately/tests/axum.rs
  stately/tests/core.rs
  stately/tests/foreign.rs
Labels: documentation, dependencies, tests, examples

chore: updates .gitignore
  .gitignore
Labels: none

chore: updates justfile
  .justfile
Labels: none

chore: prepare release v0.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  RELEASE_NOTES.md
  stately/Cargo.toml
  stately/README.md
Labels: documentation, dependencies

chore: prepare release v0.3.0 (#8)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  RELEASE_NOTES.md
  stately/Cargo.toml
  stately/README.md
Labels: documentation, dependencies

feat: beings ui
  .gitignore
  packages/codegen/package.json
  packages/codegen/src/cli.ts
  packages/codegen/src/generate.ts
  packages/codegen/src/index.ts
  packages/codegen/tsconfig.json
  packages/schema-types/README.md
  packages/schema-types/src/index.ts
  packages/schema/README.md
  packages/schema/STATUS.md
  packages/schema/package.json
  packages/schema/src/index.ts
  packages/schema/src/stately-schemas.ts
  packages/schema/tests/type-enforcement.test.ts
  packages/schema/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: documentation, tests

fix: updates schema to include runtime object creation
  packages/schema/src/index.ts
  packages/schema/src/openapi.ts
  packages/schema/src/stately-schemas.ts
Labels: none

fix: ports over validation, pre-testing
  packages/codegen/src/generate.ts
  packages/schema/VALIDATION.md
  packages/schema/src/index.ts
  packages/schema/src/openapi.ts
Labels: documentation

docs: enable all features for docs.rs builds
  crates/stately/Cargo.toml
Labels: dependencies

chore: updates release task, introduces cliff.toml
  .justfile
  cliff.toml
Labels: none

chore: prepare release v0.3.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  RELEASE_NOTES.md
  crates/stately/Cargo.toml
  crates/stately/README.md
Labels: documentation, dependencies

chore: renames schema-types to schema
  MONOREPO_MIGRATION.md
  packages/codegen/package.json
  packages/codegen/tsconfig.json
  packages/schema/README.md
  packages/schema/package.json
  packages/schema/src/index.ts
  packages/schema/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

build: updates pnpm in ci
  .github/workflows/ci.yml
Labels: ci

test: prevents failure on no tests
  packages/ui/package.json
Labels: none

chore: prepare release v0.3.1 (#9)
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  MONOREPO_MIGRATION.md
  README.md
  RELEASE_NOTES.md
  crates/stately/Cargo.toml
  crates/stately/README.md
  packages/codegen/package.json
  packages/codegen/tsconfig.json
  packages/schema/README.md
  packages/schema/package.json
  packages/schema/src/index.ts
  packages/schema/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: documentation, dependencies, ci

fix: improves validation
  packages/schema/src/index.ts
  packages/schema/src/openapi.ts
Labels: none

.github/labeler.yml:

# Configuration for PR labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**/Cargo.toml'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/tests/**'
      - '**/*test*'

benchmarks:
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**'
      - '**/benches/**'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - '**/examples/**'

arrow:
  - changed-files:
    - any-glob-to-any-file:
      - '**/arrow/**'
      - '**/arrow.rs'

deserialize:
  - changed-files:
    - any-glob-to-any-file:
      - '**/deserialize/**'
      - '**/deserialize.rs'

serialize:
  - changed-files:
    - any-glob-to-any-file:
      - '**/serialize/**'
      - '**/serialize.rs'
