Repository GeorgeLeePatterson/stately, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, ci, tests, benchmarks, examples, arrow, deserialize, serialize

docs: updates READMEs
  README.md
  stately-derive/README.md
  stately/README.md
Labels: documentation

docs: better doc index
  stately/src/lib.rs
Labels: none

docs: updates docs
  .justfile
  stately/src/lib.rs
Labels: none

test: adds more tests
  .justfile
  stately/Cargo.toml
  stately/src/entity.rs
  stately/src/id.rs
  stately/src/link.rs
  stately/tests/axum.rs
  stately/tests/test.rs
Labels: dependencies, tests

test: adds more coverage
  .justfile
  stately/Cargo.toml
  stately/README.md
  stately/src/collection.rs
  stately/src/link.rs
  stately/tests/core.rs
Labels: documentation, dependencies, tests

build: fixes ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ci

chore: patches lint
  stately/src/entity.rs
Labels: none

docs: updates crates category
  Cargo.toml
Labels: dependencies

chore: prepare release v0.1.0
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: documentation

chore: prepare release v0.1.0 (#3)
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: documentation

feat: updates axum api syntax to be more ergonomic
  Cargo.lock
  stately-derive/src/axum_api.rs
  stately-derive/src/lib.rs
  stately-derive/src/state.rs
  stately-derive/src/state/api/axum.rs
  stately-derive/src/state/api/mod.rs
  stately/Cargo.toml
  stately/README.md
  stately/examples/axum_api.rs
  stately/src/lib.rs
  stately/src/traits.rs
  stately/tests/axum.rs
Labels: documentation, dependencies, tests, examples

build: adds rc_schema to utoipa
  stately/Cargo.toml
Labels: dependencies

fix: introduces EntityId as the id for collections
  stately-derive/src/axum_api.rs.bak
  stately-derive/src/state.rs.bak
  stately-derive/src/state.rs.bak2
  stately/Cargo.toml
  stately/examples/basic.rs
  stately/src/collection.rs
  stately/src/entity.rs
  stately/src/id.rs
  stately/src/lib.rs
  stately/src/link.rs
  stately/src/traits.rs
  stately/tests/axum.rs
  stately/tests/core.rs
Labels: dependencies, tests, examples

feat: adds new collection macro attrs
  .justfile
  stately-derive/src/axum_api.rs.bak
  stately-derive/src/state.rs
  stately-derive/src/state.rs.bak
  stately-derive/src/state.rs.bak2
  stately/examples/axum_api.rs
  stately/examples/basic.rs
  stately/src/collection.rs
  stately/src/entity.rs
  stately/src/traits.rs
  stately/tests/axum.rs
  stately/tests/core.rs
Labels: tests, examples

fix: reorganizes axum
  stately-derive/Cargo.toml
  stately-derive/src/axum_api.rs
  stately-derive/src/state.rs
  stately/Cargo.toml
  stately/examples/axum_api.rs
  stately/src/lib.rs
  stately/src/traits.rs
  stately/tests/axum.rs
Labels: dependencies, tests, examples

fix: finalizes proper api and methods
  stately-derive/src/axum_api.rs
  stately-derive/src/state.rs
  stately/examples/axum_api.rs
  stately/examples/basic.rs
  stately/src/collection.rs
  stately/src/error.rs
  stately/src/traits.rs
  stately/tests/axum.rs
Labels: tests, examples

chore: merges with upstream
  stately/examples/axum_api.rs
  stately/tests/axum.rs
Labels: tests, examples

fix: adds link_aliases (temporary workaround)
  stately-derive/src/axum_api.rs
  stately-derive/src/state.rs
  stately/tests/axum.rs
Labels: tests

test: adds coverage
  .github/workflows/ci.yml
  stately/src/collection.rs
  stately/src/error.rs
Labels: ci

docs: updates docs and readmes
  README.md
  stately/README.md
  stately/src/lib.rs
Labels: documentation

ci: udpates ci
  .github/workflows/ci.yml
Labels: ci

fix: adds middleware for event callback
  README.md
  stately-derive/src/axum_api.rs
  stately-derive/src/state.rs
  stately/README.md
  stately/src/lib.rs
  stately/tests/axum.rs
  stately/tests/core.rs
Labels: documentation, tests

fix: propagates error from remove through api
  stately-derive/src/axum_api.rs
  stately-derive/src/state.rs
  stately/tests/axum.rs
Labels: tests

feat: updates state, axum, macros, crate (#4)
  .justfile
  Cargo.lock
  README.md
  stately-derive/Cargo.toml
  stately-derive/src/axum_api.rs
  stately-derive/src/lib.rs
  stately-derive/src/state.rs
  stately-derive/src/state/api/axum.rs
  stately-derive/src/state/api/mod.rs
  stately-derive/src/state/mod.rs
  stately/Cargo.toml
  stately/README.md
  stately/examples/axum_api.rs
  stately/examples/basic.rs
  stately/src/collection.rs
  stately/src/entity.rs
  stately/src/error.rs
  stately/src/id.rs
  stately/src/lib.rs
  stately/src/link.rs
  stately/src/traits.rs
  stately/tests/axum.rs
  stately/tests/core.rs
Labels: documentation, dependencies, tests, examples

docs: updates readme
  stately/README.md
Labels: documentation

chore: address lints
  stately/src/error.rs
Labels: none

chore: updates justfile
  .justfile
  stately/Cargo.toml
Labels: dependencies

chore: prepare release v0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASE_NOTES.md
Labels: documentation, dependencies

chore: prepare release v0.2.0 (#5)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASE_NOTES.md
Labels: documentation, dependencies

build: patches release workflow
  .justfile
  stately/Cargo.toml
Labels: dependencies

fix: adds new endpoints, updates tests
  Cargo.lock
  stately-derive/src/axum_api.rs
  stately/Cargo.toml
  stately/tests/axum.rs
Labels: dependencies, tests

build: patches justfile for release
  .justfile
Labels: none

docs: updates readmes at root and in stately
  README.md
  stately/README.md
Labels: documentation

chore: prepare release v0.2.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASE_NOTES.md
Labels: documentation, dependencies

chore: prepare release v0.2.1 (#6)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASE_NOTES.md
Labels: documentation, dependencies

fix: add missing stately-derive version bump to 0.2.1
  .justfile
  stately/Cargo.toml
Labels: dependencies

chore: update README versions to 0.2.1 and fix sed regex in justfile
  .justfile
  README.md
  stately/README.md
Labels: documentation

build: patches prepare release
  .justfile
Labels: none

fix: remove stately dry-run from release workflow (depends on unpublished stately-derive)
  .github/workflows/release.yml
Labels: ci

refactor: separate HasName trait and remove STATE_ENTRY from entity macro
  stately-derive/src/entity.rs
  stately/src/collection.rs
  stately/src/lib.rs
  stately/src/link.rs
  stately/src/traits.rs
Labels: none

.github/labeler.yml:

# Configuration for PR labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '**/Cargo.toml'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/tests/**'
      - '**/*test*'

benchmarks:
  - changed-files:
    - any-glob-to-any-file:
      - 'benches/**'
      - '**/benches/**'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - '**/examples/**'

arrow:
  - changed-files:
    - any-glob-to-any-file:
      - '**/arrow/**'
      - '**/arrow.rs'

deserialize:
  - changed-files:
    - any-glob-to-any-file:
      - '**/deserialize/**'
      - '**/deserialize.rs'

serialize:
  - changed-files:
    - any-glob-to-any-file:
      - '**/serialize/**'
      - '**/serialize.rs'
